<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p>
  This Splurty page was designed by <a target="_blank" href="https://github.com/kyky2901">Kylie</a>. This is Kylie's second layout for the application and her favorite. It always helps to practice the basics of web development!
</p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'kylie.jpg', class: 'img-fluid' %>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />